/* static elements of menu */

.menu {
  background: #000000;
  left: 0px;
  height: 100%;
  position: fixed;
  width: 250px;
}

.menu .nav {
  color: #5a5a5a;
  font-size: 24px;
  font-family: Courier;
  text-decoration: none;
  display: inline-block;
}

#current {
  font-weight: bold;
}

.menu a {
  padding: 10px 0px;
}

.menu ul {
  list-style: none;
}

.menu .socialmedia li {
  display: inline;
}

.menu img {
  opacity: 0.5;
  filter: alpha(opacity=50);
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.menu .footer {
  position: absolute;
  bottom: 20px;
  left: 10px;
  font-family: Courier;
}

/* website hover animations */

.nav:after { 
	content: '';
	display: block;
	height: 3px;
	width: 0;
	transition: width .5s ease;
}

.nav:hover:after { 
	width: 100%;
	background: #ffffff;
}

/* social media hover animations */

.menu img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
  filter: none;
  -webkit-filter: grayscale(0);
  transition: opacity .5s ease;
}

/* background */

.jumbotron, html {
  background-image: url('nature.jpg'); 
  height: 100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

/* content */

.jumbotron .container {
  max-width: 75%;
  position: absolute;
  left: 300px;
  background-color: hsla(0, 0%, 25%, 0.4);
}

.jumbotron img {
  float: left;
  overflow: auto;
  margin: 5%;
  width: 25%;
  height: 25%;
}

.jumbotron p {
  margin: 5%;
  color: #ffffff;
  font-family: Courier;
}
