/* background */

.jumbotron, html {
  background-color: #fff; 
  height: 700px;
  background-attachment: fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.jumbotron .container {
  color: #5a5a5a;
  max-width: 75%;
  margin-bottom: 2%;
  margin-top: 4%;
  position: absolute;
  left: 15%;
}

.jumbotron h1{
  color: #2957ff;
}

.jumbotron img {
  float: left;
  overflow: auto;
  margin: 4% 3% 0% 4%;
  width: 23%;
  height: auto;
}

.jumbotron h1 {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 2.5em;
  padding-top: 20px;
  margin-bottom: -20px;
}

.jumbotron p {
  margin: 4%;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 20px;
}

.jumbotron a {
  text-decoration: underline;
  color: #2957ff;
}

#backtop{
  display: none;
}

@media only screen and (max-width: 768px){

  .jumbotron img{
  float: none;
  overflow: auto;
  display: block;
  margin: 15% auto;
  width: 75%;
  height: auto;
  }

  #backtop{
    display: block;
    color: #5a5a5a;
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
    margin: 15% auto;
  }

  .jumbotron .container{
    padding: 5% 0px;
  }

}