/* background */

.jumbotron, html {
  background-color: #eaf2ff; 
  height: 100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

/* content */

.jumbotron .container {
  max-width: 75%;
  position: absolute;
  left: 250px; /* 300px for center */
  background-color: hsla(0, 0%, 25%, 0.0); /* 4th param is opacity */
}

.jumbotron img {
  float: left;
  overflow: auto;
  margin: 5%;
  width: 25%;
  height: 25%;
}

.jumbotron p {
  margin: 5%;
  color: #5a5a5a;
  font-family: Courier;
}
