/* Background */
.jumbotron, html {
  background-color: #fff;
}

/* Speech Bubble */
.speech-bubble {
  position: relative;
  color: white;
  padding:10%;
  background: #2957ff;
  border-radius: .4em;
  width: 100%;
  max-width: 500px;
  text-align: center;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

/* This is the triangle */
.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 0;
  height: 0;
  border: 44px solid transparent;
  border-top-color: #2957ff;
  border-bottom: 0;
  border-left: 0;
  margin-left: -22px;
  margin-bottom: -44px;
}

.speech {
  padding: 30% 10%;
  font-size: 2em;
}
/* End Speech Bubble */

#cartoon {
  display: none;
}

/* Featured Projects Temp Unavailable for Mobile */
  .jumbotron .container {
    display: none;
  }

/* Desktop Only */

@media (min-width: 768px) {
  .speech {
    padding-top: 7%;
    padding-left: 40%; /* center is 30% */
    font-size: 42px; /* mobile equivalent is 64px */
    line-height: 36px;
    height: 650px;
  }

  .subtitle{
    font-size: 24px;
  }

  #cartoon {
    display: inline;
    margin: 0px -150px;
  }

  /* Featured Projects */
  .jumbotron .container {
    display: block;
    color: #5a5a5a;
    max-width: 75%;
    margin: auto;
    padding: 20px 20px;
    /*border: 2px solid #2957ff;
    border-radius: 25px;*/
  }
  .jumbotron h1{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #2957ff;
  }
  .feat-proj {
      position: relative;
      width: 250px;
      height: 250px;
      overflow: hidden;
  }

  .image {
    opacity: 1;
    filter: brightness(100%);
    display: block;
    width: 100%;
    height: auto;
    min-height: 250px;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .feat-proj:hover .image {
    /*opacity: 0.3;*/
    filter: brightness(20%);
  }

  .feat-proj:hover .middle {
    opacity: 1;
  }

  .text {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 1.5em;
    padding: 10%;
  }
  .jumbotron .container p{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    text-align: right;
  }
  .jumbotron .container a{
    color: #5a5a5a;
    text-decoration: none;
  }
  /* End Featured Projects*/
}