.jumbotron .mobile{ display: block; }
.jumbotron .desktop{ display: none; }

.jumbotron{
	background-color: white;
	margin-bottom: 0;
	padding-bottom: 0;
}

.jumbotron .container{
	display: block;
	color: #5a5a5a;
	font-family: 'Montserrat', Helvetica, sans-serif;
	padding-top: 15%;
}

.rotateimg90 {
	image-orientation: 90deg; /* Not compatible with many browsers, so just replace the image instead */
}

.jumbotron h1{
	color: #2957ff;
	font-size: 2.5em;
}

.jumbotron h2{
	font-size: 1.5em;
}

.jumbotron h3{
	font-size: 1.3em;
}

.jumbotron .container a{
	color: #2957ff;
	text-decoration: underline;
}

.jumbotron .button{
	display: block;
	background-color: #aaa;
	border: none;
	border-radius: 8px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.25em;
	cursor: pointer;
	margin: 0;
	margin-bottom: 20px;
	width: 100%;
	padding: 15px 20px;
}

.jumbotron .center{
	display: block;
	margin: 0 auto;
	text-align: center;
}

.jumbotron .flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.jumbotron .list ul{
	padding-left: 0;
}

.jumbotron .list li{
	margin-left: 20px;
}

.jumbotron .list ul.responsive{
	margin-top: 20px;
}

.jumbotron #back{
	color: #5a5a5a;
	text-decoration: none;
}

.jumbotron .intro .banner{
	margin: 20px auto 10px;
	display: block;
	max-width: 100%;
}

.jumbotron .process{
	background-color: #EEE;
	border-radius: 10px;
	padding: 20px;
}

.jumbotron .process ol{
	padding: 0;
}

.jumbotron .process li{
	margin-left: 20px;
}

.jumbotron .process .row, .jumbotron .process img, .jumbotron .details img, .jumbotron .conclusion img{
	max-width: 100%;
}

.jumbotron .process img, .jumbotron .details img, .jumbotron .conclusion img{
	padding: 10px 0;
}

.jumbotron .process .caption, .jumbotron .details .caption, .jumbotron .conclusion .caption{
	margin-bottom: 20px;
}

.jumbotron .process .caption-top, .jumbotron .details .caption-top, .jumbotron .conclusion .caption-top{
	margin-top: 20px;
}

.jumbotron .process .caption-full, .jumbotron .details .caption-full, .jumbotron .conclusion .caption-full{
	margin-bottom: 20px; /* the regular .caption is different on mobile/desktop but .caption-full is the same on mobile/desktop */
}

.jumbotron .process .caption-right, .jumbotron .details .caption-right, .jumbotron .conclusion .caption-right{
	text-align: center;
}

.jumbotron .process .caption-left, .jumbotron .details .caption-left, .jumbotron .conclusion .caption-left{
	text-align: center;
}

/* DESKTOP/TABLET STYLES */
@media only screen and (min-width: 768px){
	.jumbotron .mobile{ display: none; }
	.jumbotron .desktop{ display: block; }

	.jumbotron .container{
		padding-top: 5%;
		max-width: 80%;
	}

	.jumbotron .button{
		margin: 0 auto;
		padding: 15px 32px;
		transition-duration: 0.4s;
		-webkit-transition-duration: 0.4s;
	}

	.jumbotron .button:hover {
	  background-color: #2957ff;
	  color: white;
	}

	.jumbotron .button-full{
		width: 300px;
	}

	.jumbotron .list ul.responsive{
		margin-top: 0;
	}

	.jumbotron .intro .banner{
		max-width: 80%;
	}

	.hashtags{
		text-align: right;
	}

	.jumbotron .process .caption, .jumbotron .details .caption, .jumbotron .conclusion .caption{
		margin-bottom: 0;
	}

	.jumbotron .process .caption-right, .jumbotron .details .caption-right, .jumbotron .conclusion .caption-right{
		text-align: left;
		margin: auto;
	}

	.jumbotron .process .caption-left, .jumbotron .details .caption-left, .jumbotron .conclusion .caption-left{
		text-align: right;
		margin: auto;
	}
}