
/* Temporary for while I make mobile site */
.maintenance{
  display: none;
}



/* background */

.jumbotron, html {
  background-color: #fff; 
  background-attachment: fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.jumbotron .container {
  color: #fff;
  max-width: 75%;
  margin-bottom: 2%;
  margin-top: 4%;
  padding: 20px 20px;
  position: absolute;
  left: 15%;
  background-color: hsla(227, 100%, 58%, 1.0); /* last value is percentage */
  border-radius: 25px;
}

.jumbotron h1 {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 2.5em;
}

.jumbotron a{
  color: #fff !important;
  text-decoration: none;
}

.jumbotron h2 {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 1.5em;
}

.jumbotron .current{
  font-weight: bold;
}

.jumbotron .text {
  float: left;
  margin: 5%;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  width: 60%;
  height: 10px;
}

.jumbotron h3 {
  text-decoration: underline;
  font-size: 1.5em;
}

.jumbotron p {
  font-size: 1.25em;
}

.jumbotron img {
  overflow: auto;
  margin: 5%;
  width: 20%;
}

footer{
  text-align: center;
  width: 92%;
  margin: 0 auto;
  position: absolute;
  color: black;
  padding-top: 30px;
}


/* Temporary for while I make mobile site */
@media only screen and (max-width: 768px){

  .jumbotron{
    display: none;
  }

  .maintenance{
    padding: 20%;
    display: inline-block;
    color: black;
  }
  .maintenance p{
    color: black;
  }
}