
/* Temporary for while I make mobile site */
.maintenance{
  display: none;
}

.jumbotron .content{
  padding: 10px 20px;
}

.jumbotron .process{
  background-color: #eee;
}

.jumbotron .content a{
  color: #2957ff;
  text-decoration: underline;
}

.jumbotron #back{
  margin-left: 20px;
}

.jumbotron h3.ol{
  margin-left: -2em;
  font-size: 1em;
  text-decoration: none;
}

.jumbotron ul,ol {
  font-size: 1.25em;
}

.jumbotron table{
  width: 300px;
}

.jumbotron tr {
  vertical-align: top;
}

.jumbotron th {
  font-size: 1.5em;
  font-weight: normal;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.jumbotron td {
  min-width: 300px;
}

.jumbotron td span.caption{
  font-size: 0.8em;
}

.jumbotron .banner{
  margin: auto;
  max-height: 500px;
}

.jumbotron .single-photo{
  margin: auto;
  width: 95%;
  height: auto;
}

.jumbotron .single-vert{
  width: auto;
  height: 400px;
}

.jumbotron td img {
  height: 250px;
  width: auto;
  overflow: hidden;
}

.jumbotron .table3{
  margin: -25px;
}

.jumbotron .table2{
  margin: 15px;
}

.jumbotron img{
  overflow: auto;
  margin: 5%;
  display: block;
  height: 300px;
  width: auto;
}

.jumbotron .center{
  margin: auto;
}

.jumbotron .caption{
  text-align: center;
  font-size: 1em;
  margin: auto;
  padding-top: 5px;
  width: 95%;
}

.jumbotron .caption-right{
  text-align: left;
}

.jumbotron .caption-left{
  text-align: right;
}

.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.jumbotron iframe{
  margin: 0 auto;
  display: block;
}

.jumbotron .button{
  margin: 0 33%;
  width: 300px;
  background-color: #AAAAAA;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25em;
  cursor: pointer;

  /* Animation */
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.jumbotron .button:hover {
  background-color: #2957ff;
  color: white;
}

/* Temporary for while I make mobile site */
@media only screen and (max-width: 768px){

  .jumbotron{
    display: none;
  }

  .maintenance{
    padding: 20%;
    display: inline-block;
    color: black;
  }
  .maintenance p{
    color: black;
  }
}