/* background */

.jumbotron, html {
  background-color: #eaf2ff; 
  height: 100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

/* content */

.jumbotron .container {
  max-width: 75%;
  margin-bottom: 2%;
  position: absolute;
  left: 250px; /* 300px for center */
  background-color: hsla(0, 0%, 100%, 0.6);
}

.jumbotron h1 {
  color: #5a5a5a;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 3em;
}

.jumbotron a{
  color: #5a5a5a !important;
  text-decoration: none;
}

.jumbotron h2 {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 1.75em;
}

.jumbotron .current{
  font-weight: bold;
}

.jumbotron .text {
  float: left;
  margin: 5%;
  color: #5a5a5a;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  width: 60%;
  height: 10px;
}

.jumbotron h3 {
  color: #5a5a5a;
  text-decoration: underline;
}

.jumbotron img {
  overflow: auto;
  margin: 5%;
  width: 20%;
}

