/* background */
.jumbotron, html {
  background-color: #fff; 
  background-attachment: fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.jumbotron .container {
  color: #5a5a5a;
  max-width: 75%;
  margin-bottom: 2%;
  margin-top: 4%;
  padding: 20px 20px;
  position: absolute;
  left: 15%;
}

.jumbotron .row{
  margin: 0;
  justify-content: center;
}

.jumbotron h1 {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 2.5em;
  color: #2957ff;
}

.jumbotron a{
  color: #5a5a5a;
  text-decoration: none;
}

.jumbotron h2 {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 1.8em;
}

.jumbotron h2>br{
    display: none;
}

.jumbotron h2>#line{
  display: inline;
}

.jumbotron .current{
  font-weight: bold;
  color: #2957ff !important;
}

.jumbotron h3 {
  text-decoration: underline;
  font-size: 1.5em;
}

.jumbotron p {
  font-size: 1.25em;
}

/* Projects */
.jumbotron .container {
  display: block;
  color: #5a5a5a;
  max-width: 75%;
  margin: auto;
  padding: 20px 20px;
  /*border: 2px solid #2957ff;
  border-radius: 25px;*/
}

.feat-proj{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 15px 10px;
  }

/* hovering on desktop (mobile shows text bc hovering doesn't work on mobile obvs) */
.feat-proj .image{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 1;
    filter: brightness(100%);
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border: 1px solid #e3e3e3;
  }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.feat-proj:hover .image {
  /*opacity: 0.3;*/
  filter: brightness(20%);
}

.feat-proj:hover .middle {
  opacity: 1;
}

.text {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  text-align: center;
  color: white;
  font-size: 1.2em;
}
.jumbotron .container a{
  color: #5a5a5a;
  text-decoration: none;
}
/* End Projects */

/* MOBILE */
@media only screen and (max-width: 768px){

  .feat-proj{
    width: 250px;
    min-width: 250px;
    height: 250px;
    padding: 10px;
  }

  .jumbotron h2{
    font-size: 1.5em;
  }

  .jumbotron h2>br{
    display: inline;
  }

  .jumbotron h2>#line{
    display: none;
  }

  .jumbotron .container{
    padding-top: 15%;
    margin-left: -8px;
  }

  .feat-proj .image{
    filter: brightness(40%);
  }

  .middle {
    opacity: 1;
  }

}