.menu {
  background: #ffffff;
  left: 0px;
  height: 100%;
  position: fixed;
  width: 250px;
}

/* static elements of menu */

.menu .nav {
  color: #5a5a5a;
  font-size: 24px;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  display: inline-block;
}

#current {
  font-weight: bold;
}

.menu a {
  padding: 10px 0px;
}

.menu ul {
  list-style: none;
}

.menu .socialmedia li {
  display: inline;
}

.menu img {
  width: 40px;
  height: 40px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.menu #git{
  opacity: 0.3;
}

.menu .footer {
  position: absolute;
  bottom: 20px;
  left: 10px;
  font-family: Courier;
}

/* website hover animations */

.nav:after { 
	content: '';
	display: block;
	height: 3px;
	width: 0;
	transition: width .5s ease;
}

.nav:hover:after { 
	width: 100%;
	background: #5a5a5a;
}

/* social media hover animations */

.menu img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
  filter: none;
  -webkit-filter: grayscale(0);
  transition: opacity .5s ease;
}

.menu #git:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
  filter: none;
  -webkit-filter: grayscale(0);
  transition: opacity .5s ease;
}

/* background image */

.jumbotron, html {
  background-image: url('../images/candidwhite.png'); 
  height: 100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.jumbotron .container {
  position: fixed;
  top: 210px;
  left: -75px;
  text-align: center;
  color: #5a5a5a;
  /*
  filter: gray; 
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  */
}

#name {
  font-size: 48px;
}




/*
.jumbotron .container {
  position: absolute;
  text-align: center;
  font-size: 48px;
  font-family: Courier;
  font-weight: bold;
  color: #000000;
  top: 300px;
  left: 130px;
}
*/
